@font-face {
  font-family: Inter;
  src: url('Inter/static/Inter-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Inter' !important;
}

.header_cell {
  background-color: #A9A9A9 !important;
}

.dropdown {
  display: inline-flex;
  float: right;
}

.bordered_table {
  border: #5B5B5B;
  margin-top: 20px;
}

.textTable {
  margin-left: 5px;
  font-size: 300;
  font-style: normal;
  font-weight: 300;
}

.filters {
  display: inline;
}